h1 {
    font-size: 3em;
}
.error-message {
    align-items: center;
    background: #2b2b2b;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
    padding: 15px;
}

.error-message i {
    color: #f75252;
}